"urn:cts:latinLit:stoa0168.stoa001b.corpuscorporum-lat1.xml" filter=lfs diff=lfs merge=lfs -text
lemmatized/xml/urn:cts:latinLit:stoa0168.stoa001c.droitromain-lat1.xml filter=lfs diff=lfs merge=lfs -text
lemmatized/xml/urn:cts:latinLit:phi0914.phi001.perseus-lat2.xml filter=lfs diff=lfs merge=lfs -text
lemmatized/xml/urn:cts:latinLit:phi0978.phi001.perseus-lat2.xml filter=lfs diff=lfs merge=lfs -text
